#title {
  color:coral;
}

#subtitles {
  color:rgb(43, 223, 208);
}

.heading {
  color:blueviolet;
}

h1 {
  color: red;
  text-align: center;
}

h1 {
  color: green;
}

div {
  font-size: 20px;
  width: 400px;
  margin: 0 auto;
}

p {
  width: 100%;
  text-align: center;
  /* padding: 10px 15px 20px 25px; */
  /* padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 25px; */
  padding: 50px 30px;
  /* border-width: 2px;
  border-style: solid;
  border-color: rgb(16, 119, 179); */
  border: 2px solid rgb(156, 19, 113);
  border-radius: 4px;
  margin: 0px;
  /* background-color: navy !important; */
}


